<nav class="navbar navbar-dark bg-primary navbar-expand-lg">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/dashboard">Dashboard de Modelo</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/prediction">Prediccion</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/confirmation">Confirmación de Predicción</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/indicator">Indicadores de Predicción</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/login">Cerrar Sesión</a>
      </li>
    </ul>
  </div>
</nav>
